[color]
  branch = auto
  interactive = auto
  status = auto
  diff = auto
  ui = true
  editor = vi
[user]
  name = Xiaoming Jia
  email = xiaomij@amazon.com
[core]
  editor = vim
  pager = less -RX
  excludesfile = /home/xiaomij/.gitignore
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout
  ci = commit
  st = status
  br = branch
  lol = log --graph --decorate --pretty=oneline --abrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  backup = push origin +refs/heads/*:refs/backup/xiaomij/*
[branch]
  autosetuprebase = always
[remote "coworker"]
  uploadpack = /apollo/env/SDETools/bin/git-upload-pack
[merge]
  ff = false
[amazon]
  append-cr-url = true